

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}


.input__dark {
	width: 300px;
	height: 60px;

	padding: 5px 14px;
	margin-bottom: 14px;

	background-color: #242424;
	color: hsla(0, 0%, 100%, .6);
	font-size: 18px;
	font-weight: 600;

	border-radius: 4px;
	border: none;
	border-bottom: 2px solid hsla(0, 0%, 100%, .6);

	transition: border .2s linear;
}

.input__dark:focus {
	outline: none;
	border-bottom: 2px solid #21a4f7;
}



.btn {
	width: 300px;
	height: 60px;

	border-radius: 10px;
	background-color: #21a4f7;
	color: #fff;
	font-weight: 600;
	font-size: 15px;
}

.btn:hover {
	cursor: pointer;
}

.form_after {
	color: hsla(0, 0%, 100%, .6);
	margin: 5px 0;
}

.form_after_link {
	color: #fff;
	margin-left: 5px;
	text-decoration: none;
}

.error_message {
	color: #fdca52;;
	margin-top: -5px;
	margin-bottom: 14px;

	font-size: 13px;
	font-weight: normal;
}