.button {
	border: none;
	color: #fff;
	background-color: #202020;

	color: #e6e6e6;
    font-size: 15px;
    font-weight: 600;

    padding: 10px 15px;
}

.button:hover {
	cursor: pointer;
}

.screenshots {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.screenshot {
	width: 230px;
	height: 165px;
	object-fit: cover;
	margin: 5px;
}