
.GameScreenshotsButton {
	margin-bottom: 20px;
}

.screenshots {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.screenshot {
	object-fit: cover;
	margin: 5px;
	cursor: pointer;
}

.screenshot__opened {
	width: 760px;
	height: 580px;
	object-fit: cover;
	margin: 5px;
}