
.Modal {
	height: 100%;
	width: 100%;

	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;

	display: none;
	justify-content: center;
	align-items: center;
}

.isOpen {
	display: flex;
}

.content {
	background-color: #fff;
	color: #000;
	min-width: 20%;
	max-width: 70%;
	min-height: 200px;

	border-radius: 5px;

	padding: 20px;
	position: relative;
}

.closeBtn {
	position: absolute;
	top: 4px;
	right: 8px;

	background: none;
	border: none;

	font-size: 16px;
	font-weight: 600;
	color: #807b7b;

	cursor: pointer;
	transition: color .2s;
}

.closeBtn:hover {
	color: #000;
}

