
.actions {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 15%;
}

.actions__link {
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}

.actions__link:hover {
	text-decoration: underline;
}

.btn {
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
	border: none;
	color: transparent;
	font-size: 0;

	width: 20px;
	height: 20px;
}

.btn * {
	width: 20px;
	height: 20px;
}

.btn:hover {
	cursor: pointer;
}