
.searchBar {
	width: 80%;

	position: relative;
}

.input {
	width: 100%;
	height: 45px;

	border-radius: 20px;
	border: none;

	background-color: #3B3B3B;
	background-image: url('assets/icons/search.svg');
	background-position: left 10px center;
	background-repeat: no-repeat;
	background-size: 21px;

	padding: 0 35px;
	font-size: 18px;
	color: var(--color-primary-fonts);

	transition: background-color .3s ease-out;
}

.input:focus {
	outline: none;
	background-color: #fff;
	color: #000;
}

.hotkey {
	position: absolute;
	top: 24%;
	right: 15px;

	display: flex;
	align-items: center;
	font-size: 11px;
	color: var(--color-primary-fonts);
}

.hotkey__item {
	border: 1px solid var(--color-primary-fonts); 
	padding: 3px 5px;
	margin: 0 3px;
}