.input {
	position: relative;
  	max-width: 100%;
  	display: flex;
}

.icon {
	position: absolute;
	right: 0;
	padding-bottom: 14px;
	margin-right: 8px;

	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;	
}

.icon:hover {
	cursor: pointer;
}

.icon img {
	width: 24px;
}