
.list {
	display: flex;
	flex-wrap: wrap;
	width: 350px;
}

.listItem {
	border-radius: 6px;
	margin: 4px;
	padding: 5px 8px;

	/*color: hsla(0, 0%, 100%,.6);*/
	color: #e6e6e6;
	font-weight: 600;

	background-color: #202020;
}