

.sidebar {
	width: 15%;
	padding: 4px 6px;
	text-align: left;
}

.link {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 4px;
	margin-bottom: 4px;
}

.icon {
	height: 25px;
	margin-right: 4px;
}
