@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");

:root {
    --color-primary: #151515;
    --color-secondary: #202020;
    --color-primary-fonts: rgba(255, 255, 255, 0.6);
}

html {
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--color-primary);

    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #fff;
}

#root {
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ol,
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.page {
    width: 100%;

    padding: 20px 30px;
    display: flex;
}

.page--centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page__details {
    width: 85%;
    padding: 30px 30px;
    border: 1px solid #fff;
}