@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");

:root {
    --color-primary: #151515;
    --color-secondary: #202020;
    --color-primary-fonts: rgba(255, 255, 255, 0.6);
    --color-orange: #fdca52;
    --color-blue: #21a4f7;
    --color-white: #ffff;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--color-primary);

    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ol, ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.page {
    width: 100%;

    padding: 20px 30px;
}

.page--flex {
    display: flex;
}

.page--centered {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.page__header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 10px;
}

.page__header--sm {
    width: 35%;
}

.page__home {
    width: 85%;

    display: flex;
    flex-direction: column;
}

.page__details {
    width: 85%;
    padding: 30px 30px;
    border: 1px solid #fff;
}

.page__title {
    font-size: 34px;
    margin: 0 25px;
    text-align: left;
}


.btn {
    padding: 10px 14px;
    font-weight: 600;
    color: #fff;

    background-color: #2D2D2D;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}