@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  background-color: #151515;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: inherit;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ol, ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.page {
  height: 100%;
  width: 100%;

  padding: 20px 30px;
  display: flex;
}

.page--centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page__details {
  padding: 50px 30px;
}